---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />

<script is:inline src="/pagefind/pagefind-ui.js"></script>

<LayoutDefault>
  <div id="search"></div>
</LayoutDefault>

<script is:inline>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({ element: '#search', showSubResults: true })
  })
</script>
